@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
header {
  width: 100vw;
  height: 80px;
  overflow-x: hidden; }
  header .headerWrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    header .headerWrapper .headerWrapper__logo {
      width: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      header .headerWrapper .headerWrapper__logo img {
        width: 100%;
        height: auto; }
    header .headerWrapper .headerWrapper__nav {
      width: 80%; }
      header .headerWrapper .headerWrapper__nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0; }
        header .headerWrapper .headerWrapper__nav ul li a {
          text-decoration: none;
          font-family: "Nunito", sans-serif;
          font-weight: 900;
          color: #445464;
          font-size: 14px; }
        header .headerWrapper .headerWrapper__nav ul .headerWrapper__nav-item8,
        header .headerWrapper .headerWrapper__nav ul .headerWrapper__nav-item9 {
          width: 20px;
          height: 20px; }
          header .headerWrapper .headerWrapper__nav ul .headerWrapper__nav-item8 a,
          header .headerWrapper .headerWrapper__nav ul .headerWrapper__nav-item9 a {
            width: 100%;
            height: 100%; }
            header .headerWrapper .headerWrapper__nav ul .headerWrapper__nav-item8 a img,
            header .headerWrapper .headerWrapper__nav ul .headerWrapper__nav-item9 a img {
              width: 100%;
              height: 100%; }
    header .headerWrapper .headerWrapper__navMobile {
      border: 1px solid orange;
      width: 8%;
      height: 100%;
      display: none; }

.headerWrapper__navMobile-menu {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -500px;
  right: 0;
  z-index: 2;
  padding: 20px 0px 0px 0px;
  background-color: white;
  border-bottom-left-radius: 20px;
  box-shadow: -8px 8px 5px 0px rgba(68, 84, 100, 0.57); }
  .headerWrapper__navMobile-menu .headerWrapper__navMobile-cross {
    width: 90%;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row; }
    .headerWrapper__navMobile-menu .headerWrapper__navMobile-cross .icon-cancel-circle {
      font-size: 1.5rem; }
  .headerWrapper__navMobile-menu ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    .headerWrapper__navMobile-menu ul li {
      margin-bottom: 15px; }
      .headerWrapper__navMobile-menu ul li a {
        text-decoration: none;
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        color: #445464;
        font-size: 14px; }
    .headerWrapper__navMobile-menu ul .headerWrapper__nav-item8 img {
      width: 30px;
      height: 30px;
      margin-right: 10px; }

@media screen and (max-width: 1300px) {
  header .headerWrapper {
    width: 95%; } }

@media screen and (max-width: 1150px) {
  header .headerWrapper .headerWrapper__navMobile {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    header .headerWrapper .headerWrapper__navMobile i {
      border: 1px solid #445464;
      font-size: 2rem;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      color: #445464; }
      header .headerWrapper .headerWrapper__navMobile i:hover {
        transform: scale(0.8);
        color: white;
        background-color: #535252; }
  .menu-is-active {
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transform: translateY(500px); }
  header .headerWrapper .headerWrapper__nav {
    display: none; } }

@media screen and (max-width: 900px) {
  .headerWrapper__navMobile-menu {
    width: 50%; }
  header .headerWrapper .headerWrapper__navMobile {
    width: 20%; } }

@media screen and (max-width: 500px) {
  .headerWrapper__navMobile-menu {
    width: 80%; } }

main {
  width: 100vw;
  height: calc(100vh - 100px); }
  main img {
    width: 100%;
    height: 100%; }

footer {
  width: 100vw;
  height: 80px;
  background-color: #282d33; }
  footer .footerWrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row; }
    footer .footerWrapper ul {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      list-style: none; }
      footer .footerWrapper ul .footerWrapper-item1,
      footer .footerWrapper ul .footerWrapper-item2 {
        margin-right: 20px;
        width: 20px;
        height: 20px; }
        footer .footerWrapper ul .footerWrapper-item1 a,
        footer .footerWrapper ul .footerWrapper-item2 a {
          width: 100%;
          height: 100%; }
          footer .footerWrapper ul .footerWrapper-item1 a img,
          footer .footerWrapper ul .footerWrapper-item2 a img {
            width: 100%;
            height: 100%; }

.about {
  width: 100vw;
  height: auto;
  background-image: url("../assets/images/fdoSomos-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.aboutWrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .aboutWrapper .aboutWrapper__item1 {
    width: 150px;
    margin-top: 100px; }
    .aboutWrapper .aboutWrapper__item1 img {
      width: 100%; }
  .aboutWrapper .aboutWrapper__item2 {
    color: white;
    text-align: center;
    width: 70%;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 50px 0; }
  .aboutWrapper .aboutWrapper__item3 {
    width: 70px;
    height: 90px;
    margin-bottom: 100px; }
    .aboutWrapper .aboutWrapper__item3 img {
      width: 100%;
      height: 100%; }

.ludoteca {
  width: 100vw;
  background-image: url("../assets/images/fdoNosotros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0; }

.ludotecaWrapper {
  width: 80%;
  margin: auto; }
  .ludotecaWrapper .ludotecaWrapper__details {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; }
    .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-title {
      color: white;
      font-size: 3.5rem; }
    .ludotecaWrapper .ludotecaWrapper__details .lodutecaWrapper__details-decorate {
      width: 75%; }
      .ludotecaWrapper .ludotecaWrapper__details .lodutecaWrapper__details-decorate img {
        width: 100%; }
    .ludotecaWrapper .ludotecaWrapper__details .lodutecaWrapper__details-description {
      color: white;
      font-size: 2rem;
      text-align: right; }
    .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-moreInformation {
      padding: 10px 25px;
      border-radius: 20px;
      outline: none;
      border: none;
      margin-bottom: 15px;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: #77a4dc;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1)); }
    .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-options {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; }
      .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-options .ludotecaWrapper__details-images,
      .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-options .ludotecaWrapper__details-schedule {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
        font-size: 1.2rem; }
        .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-options .ludotecaWrapper__details-images img,
        .ludotecaWrapper .ludotecaWrapper__details .ludotecaWrapper__details-options .ludotecaWrapper__details-schedule img {
          margin: 0 20px; }

.motivationalSentence {
  width: 100vw;
  position: relative;
  object-fit: cover;
  background-color: #efa582; }
  .motivationalSentence .motivationalSentence__bg {
    width: 100%;
    height: 100%; }

.motivationalSentenceWrapper {
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .motivationalSentenceWrapper .motivationalSentenceWrapper__title {
    width: 70%; }
    .motivationalSentenceWrapper .motivationalSentenceWrapper__title h2 {
      margin-top: 0;
      text-align: right;
      color: white;
      font-size: 4rem; }

.fiesta {
  width: 100vw;
  background-image: url("../assets/images/fiestasFdo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0; }

.fiestaWrapper {
  width: 80%;
  margin: auto; }
  .fiestaWrapper .fiestaWrapper__details {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; }
    .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-title {
      color: white;
      font-size: 3.5rem; }
    .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-decorate {
      width: 75%; }
      .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-decorate img {
        width: 100%; }
    .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-description {
      color: white;
      font-size: 2rem;
      text-align: right; }
    .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-moreInformation {
      padding: 10px 25px;
      border-radius: 20px;
      outline: none;
      border: none;
      margin-bottom: 15px;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: #77a4dc;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1)); }
    .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-options {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; }
      .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-options .fiestaWrapper__details-images,
      .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-options .fiestaWrapper__details-schedule {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
        font-size: 1.2rem; }
        .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-options .fiestaWrapper__details-images img,
        .fiestaWrapper .fiestaWrapper__details .fiestaWrapper__details-options .fiestaWrapper__details-schedule img {
          margin: 0 20px; }

.cafeteriaHome {
  border: 1px solid red;
  background-color: #445464;
  width: 100vw; }

.cafeteriaHomeWrapper {
  border: 1px solid green;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .cafeteriaHomeWrapper .cafeteriaHomeWrapper__video {
    border: 1px solid red;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .cafeteriaHomeWrapper .cafeteriaHomeWrapper__video > iframe {
      width: 80%;
      height: 300px; }
  .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details {
    border: 1px solid orange;
    width: 50%;
    height: 100%; }
    .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-title h2 {
      color: white;
      font-size: 3rem; }
    .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-decorate {
      border: 1px solid red; }
      .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-decorate img {
        width: 80%; }
    .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-description p {
      color: white;
      font-size: 1.5rem; }
    .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-more {
      padding: 10px 25px;
      border-radius: 20px;
      outline: none;
      border: none;
      margin-bottom: 15px;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: #ff9d6c;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1)); }
    .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-options {
      border: 1px solid red;
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; }
      .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-options .cafeteriaHomeWrapper__details-menu,
      .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-options .cafeteriaHomeWrapper__details-wordking {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
        font-size: 1.2rem; }
        .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-options .cafeteriaHomeWrapper__details-menu img,
        .cafeteriaHomeWrapper .cafeteriaHomeWrapper__details .cafeteriaHomeWrapper__details-options .cafeteriaHomeWrapper__details-wordking img {
          margin: 0 20px;
          cursor: pointer; }

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden; }
