header {
  // border: 1px solid red;
  width: 100vw;
  height: 80px;
  overflow-x: hidden;

  & .headerWrapper{
    // border: 1px solid red;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    @include flexbox-basic(space-between);

    & .headerWrapper__logo{
      // border: 1px solid red;
      width: auto;
      height: 100%;
      @include flexbox-basic();
      & img{
        width: 100%;
        height: auto;
      }
    }

    & .headerWrapper__nav{
      width: 80%;
      // border: 1px solid red;
      ul{
        list-style: none;
        @include flexbox-basic(space-between);
        padding: 0;

        & li{
          & a{
            text-decoration: none;
            font-family: $font-nunito;
            font-weight: 900;
            color: #445464;
            font-size: 14px;
          }
        }

        & .headerWrapper__nav-item8,
        & .headerWrapper__nav-item9{
          width: 20px;
          height: 20px;
          & a{
            width: 100%;
            height: 100%;
            & img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px){
  header .headerWrapper{
    width: 95%;
  }
}