@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lqh5ct');
  src:  url('fonts/icomoon.eot?lqh5ct#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lqh5ct') format('truetype'),
    url('fonts/icomoon.woff?lqh5ct') format('woff'),
    url('fonts/icomoon.svg?lqh5ct#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
